---
import Main from "@layouts/Main.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import FormInput from "@components/FormInput.astro";

import { ExternalLink } from "@lucide/astro";
---

<Main title="Pandita | Contact">
	<Navbar />

	<div class="w-full mt-32 lg:mt-24 mb-24">
		<div class="w-full flex items-center justify-center px-4">
			<div class="w-full max-w-6xl">
				<div class="w-full flex flex-col gap-6">
					<header class="max-w-prose">
						<nav aria-label="Breadcrumb" class="text-sm text-gray-600">
							<a class="hover:underline" href="/#home">Home</a>
							<span class="mx-2">/</span>
							<span class="font-medium">Contact</span>
						</nav>

						<h1
							class="mt-5 mb-5 orbitron-regular tracking-widest text-3xl lg:text-4xl text-center lg:text-left"
						>
							CONTACT
						</h1>

						<p class="text-gray-700 leading-relaxed text-lg">
							Have questions or want to get in touch? Fill out the
							form below, and we'll get back to you as soon as
							possible. 📬
						</p>
					</header>

					<section>
						<hr class="border-gray-200 my-4" />

						<div class="w-full lg:flex flex-row gap-6 items-start">
							<div class="flex-1/2 w-full">
								<div class="w-full mt-5">
									<form id="contact-form">
										<fieldset
											class="w-full flex flex-col gap-2 disabled:text-gray-400"
											id="form-fieldset"
										>
											<label
												class="tracking-widest"
												for="name">Name:</label
											>
											<FormInput
												type="text"
												id="name"
												name="Name"
												maxlength="20"
												required
											/>

											<label
												class="tracking-widest"
												for="email">Email:</label
											>
											<FormInput
												type="email"
												id="email"
												name="Email"
												maxlength="50"
												required
											/>

											<label
												class="tracking-widest"
												for="email">Subject:</label
											>
											<select
												class="w-full border-2 border-gray-300 outline-pink-500 hover:border-pink-500 hover:text-pink-500 focus:text-pink-500 transition-colors duration-300 rounded px-2 py-2 disabled:outline-0 disabled:hover:border-gray-300 disabled:hover:text-gray-400"
												name="Subject"
												id="subject"
											>
												<option value="custom assets"
													>Custom asset request</option
												>
												<option
													value="internship student"
													>Internship request (I'm a
													student)</option
												>
												<option
													value="internship entity"
													>Internship request (I'm an
													internship professor)</option
												>
												<option value="other"
													>Other</option
												>
											</select>

											<button
												class="mt-4 tracking-widest text-white bg-black rounded py-2 px-4 opacity-80 shadow-pink-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100 hover:text-pink-500 disabled:hover:text-white disabled:bg-gray-300 disabled:hover:shadow-none disabled:hover:opacity-80 disabled:hover:cursor-auto"
												type="submit"
												id="form-button"
											>
												<div
													role="status"
													class="hidden"
													id="loading-spinner"
												>
													<svg
														aria-hidden="true"
														class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-pink-600"
														viewBox="0 0 100 101"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
															fill="currentColor"
														></path>
														<path
															d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
															fill="currentFill"
														></path>
													</svg>
													<span class="sr-only"
														>Loading...</span
													>
												</div>
												<span id="submit-label"
													>SEND</span
												>
											</button>
										</fieldset>
									</form>
									<div
										class="mt-3 pt-1 border-green-500 text-green-500 border-t-2 text-lg hidden"
										id="success-message"
									>
										We've received your contact request and
										will reach out to you soon!
									</div>
									<div
										class="mt-3 pt-1 border-red-500 text-red-500 border-t-2 text-lg hidden"
										id="error-message"
									>
										Oops — something went wrong. Try again
										in a moment.
									</div>
								</div>
							</div>
							<div
								class="flex-1/2 flex flex-col gap-3 mt-10 lg:mt-0 text-justify"
							>
								<h2 class="mt-0 font-bold text-2xl">
									Other contact methods
								</h2>
								<p class="text-gray-700 leading-relaxed">
									You can also reach us through our social
									media channels or by email at
									<a
										class="hover:text-pink-500 transition-colors duration-300"
										href="mailto:contact@panditastudio.com"
										>contact@panditastudio.com</a
									>.
								</p>
								<div>
									<ul>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://discord.gg/BWCDPR7FqZ"
												><ExternalLink size={16}/> Discord</a
											>
										</li>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://www.facebook.com/PanditaVideogames"
												><ExternalLink size={16}/> Facebook</a
											>
										</li>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://www.instagram.com/panditastudio"
												><ExternalLink size={16}/> Instagram</a
											>
										</li>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://www.linkedin.com/company/103470611/"
												><ExternalLink size={16}/> LinkedIn</a
											>
										</li>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://www.youtube.com/@panditastudio"
												><ExternalLink size={16}/> YouTube</a
											>
										</li>
										<li>
											<a
												target="_blank"
												class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
												href="https://x.com/pandita_studio"
												><ExternalLink size={16}/> Twitter</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<Footer />
</Main>

<script>
	const form = document.getElementById(
		"contact-form",
	) as HTMLFormElement | null;

	form?.addEventListener("submit", async (event) => {
		event.preventDefault();
		if (!form) return;

		const formData = new FormData(form);
		const url =
			"https://script.google.com/macros/s/AKfycbxLj9U1-U4ZIt6r4vFlu37MjGuG9a0780bHFexrdYkrwIszNW3KV80hQmYhQl691PX4/exec";

		try {
			document
				.querySelector("#loading-spinner")
				?.classList.remove("hidden");
			document.querySelector("#submit-label")?.classList.add("hidden");
			await fetch(url, {
				method: "POST",
				body: formData,
			});
			document.querySelector("#submit-label")?.classList.remove("hidden");
			document.querySelector("#loading-spinner")?.classList.add("hidden");
			form.reset();
			document
				.querySelector("#form-fieldset")
				?.setAttribute("disabled", "disabled");
			document
				.querySelector("#success-message")
				?.classList.remove("hidden");
		} catch (error) {
			document
				.querySelector("#error-message")
				?.classList.remove("hidden");
		}
	});
</script>
