---
import DuckGif from "@assets/uw-u-duck.gif";
---

<div class="grid grid-cols-1 gap-4 md:h-screen md:grid-cols-2 md:grid-rows-1">
	<div class="p-4 flex items-center justify-center">
		<img class="size-24 object-center" src={DuckGif.src} alt="Duck gif" />
	</div>
	<div class="p-4 flex items-center">
		<div class="w-full text-black dark:text-white max-md:text-center">
			<h1 class="text-2xl">Site Maintenance...</h1>
			<p>
				Our gnomes are working to move this site to another land. Please
				be patient.
			</p>
			<p>
				You can still reach us by email at
				<b>
					<a href="mailto:contact@panditastudio.com">
						contact@panditastudio.com
					</a>
					🖖
				</b>
			</p>
		</div>
	</div>
</div>
