---
const { backgroundSrc, className, id, ...rest } = Astro.props;
const bgPosition = Astro.props.bgPosition ?? "center";
---

<style
	define:vars={{
		backgroundSrc: `url(${backgroundSrc})`,
		bgPosition: bgPosition,
	}}
>
	.bg-div {
		background-image: var(--backgroundSrc);
		background-size: cover;
		background-position: var(--bgPosition);
	}
</style>

<div class=`${className} bg-div` id={id} {...rest}>
	<slot />
</div>
