---
import PanditaLogoDark from "@assets/pandita_logo_dark.png";
import PanditaLogoLight from "@assets/pandita_logo_light.png";

const autoFade = Astro.props.autoFade ?? true;
---

<nav
	id="navbar"
	class="fixed top-0 w-screen h-20 dark:h-16 bg-transparent dark:bg-black text-black dark:text-white z-10 opacity-0 transition-all duration-1000"
>
	<div
		class="flex flex-row justify-center items-center flex-nowrap gap-4 h-full"
	>
		<div class="flex shrink-0 items-center justify-center basis-1/4">
			<div class="h-[32px] w-[32px]">
				<img
					src={PanditaLogoLight.src}
					alt="Pandita Studio"
					class="absolute h-8 w-auto"
				/>
				<img
					src={PanditaLogoDark.src}
					alt="Pandita Studio"
					class="absolute h-8 w-auto dark:opacity-0 transition-opacity duration-1000"
				/>
			</div>
		</div>

		<div class="flex justify-center items-center basis-2/4">
			<p class="tracking-[.5rem] text-xs lg:text-lg">
				PANDITA<span class="hidden lg:contents"> STUDIO</span>
			</p>
		</div>

		<div class="flex items-center justify-center basis-1/4">
			<div
				class="group relative flex size-10 items-center justify-center gap-1 hover:cursor-pointer"
			>
				<div
					class="size-1 rounded-full bg-black dark:bg-white duration-300 group-hover:opacity-0"
				>
				</div>
				<div
					class="relative size-1 origin-center rounded-full bg-black dark:bg-white duration-300 group-hover:w-6"
				>
				</div>
				<div
					class="size-1 rounded-full bg-black dark:bg-white duration-300 group-hover:opacity-0"
				>
				</div>
			</div>
		</div>
	</div>
</nav>

<script define:vars={{ autoFade: autoFade }}>
	let navbar = document.getElementById("navbar");

	window.addEventListener("scroll", () => {
		if (window.scrollY > 50) {
			navbar?.classList.add("dark");
		} else {
			navbar?.classList.remove("dark");
		}
	});

	if (autoFade) {
		setTimeout(() => {
			document.querySelector("#navbar").classList.remove("opacity-0");
		}, 1000);
	}
</script>
