---
const { href, targetBlank } = Astro.props;
---

<a
    href={href}
    target={targetBlank ? "_blank" : undefined}
    rel={targetBlank ? "noopener noreferrer" : undefined}
    class="flex items-center gap-1 px-3 py-1 bg-transparent rounded-full text-pink-500 border-2 border-pink-500 hover:text-white hover:bg-pink-500 transition-colors duration-300"
>
    <slot />
</a>
