---
const { href, targetBlank } = Astro.props;
---

<a
    target={targetBlank ? '_blank' : undefined}
    rel={targetBlank ? 'noopener noreferrer' : undefined}
    class="hover:text-pink-500 transition-colors duration-300 flex items-center gap-1"
    href={href}
>
    <slot />
</a>
