---

---

<div
    class="prose dark:prose-invert !max-w-none
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-pink-500 prose-a:no-underline prose-a:hover:underline prose-p:text-justify prose-img:rounded-xl"
>
    <slot />
</div>
