---
import BadgeLink from "@components/atoms/BadgeLink.astro";
import { escapeTag } from "@lib/string";

const { tags = [] } = Astro.props as { tags?: string[] };
---

<div class="w-full flex gap-2 text-sm mb-4">

    {tags.map((tag) => (
        <BadgeLink key={tag} href={`/blog/tags/${escapeTag(tag)}/1`}>
            {tag}
        </BadgeLink>
    ))}

</div>