---

---

<div class="w-full max-w-prose mt-10">
	<div id="fb-root"></div>
	<script
		async
		defer
		crossorigin="anonymous"
		src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v24.0&appId=243462925856914"
	></script>
	<div class="w-full overflow-clip">
		<div
			class="fb-like"
			data-layout="standard"
			data-action="like"
			data-size="small"
			data-share="true"
		>
		</div>
	</div>
	<div class="w-full mt-10">
		<div class="fb-comments" data-width="100%" data-numposts="5">
		</div>
	</div>
</div>
